.button {
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-small {
  padding: 8px 16px;
  font-size: 12px;
}

.button-medium {
  padding: 10px 20px;
  font-size: 14px;
}

.button-large {
  padding: 10px 100px;
  font-size: 16px;
}

.button-orange {
  background: var(--primary-color);
}

.button-orange {
  background-color: var(--primary-color);
}

.button-orange :hover {
  background-color: var(--primary-color);
}

.button-orange:hover {
  background-color: var(--text-color);
}

.button:active {
  transform: scale(0.98);
}
