.formulario-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--background);
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-lista {
  list-style: none;
  padding: 0;
  width: 80%;
}

.campo-formulario label {
  width: 30%;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: var(--primary-color);
}

.error {
  color: var(--error--color);
  font-size: 12px;
  margin-top: 5px;
}

.boton {
  display: block;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}

.select-input-container {
  margin-bottom: 20px;
  width: 100%;
}

.select-input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.select-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--background);
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.select-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.select-input-container .error {
  color: var(--error--color);
  font-size: 12px;
  margin-top: 5px;
}

.select-input:disabled {
  background-color: var(--background);
  cursor: not-allowed;
}
