
/* Estilos para el footer */

:root {
    --primary-bg-color: black;
    --button-productos-bg-color: #6EACDA;
    --color-texto-color: #ffffff;
    --precio-texto-color: #686D76;
}
footer {
    color: var(--color-texto-color);
    background: var(--primary-bg-color);
    text-align: center;
    padding: 20px;
    /* margin-top: 25px; */
}

footer .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

footer .iconos {
    width: 24px;
    height: 24px;
}

footer .iconos:hover {
    transform: scale(1.2);
}