:root {
  --precio-texto-color: #686d76;
  --color-texto-color: #ffffff;
  --background-producto-color: #f0f0f0;
}

.productos {
  max-width: 350px;
  background: #ffffff;
  border-radius: 8px;
  padding: 5px 10px;
}

.producto:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.imagenes-producto {
  position: relative;
  width: 330px;
  height: 200px;
  background: var(--background-producto-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.img-producto {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.img-producto:hover {
  transform: scale(0.9);
}

.producto .nombre-producto {
  font-size: 20px;
}

.producto p {
  font-size: 14px;
  margin-top: 5px;
}

.precio {
  color: var(--precio-texto-color);
  font-weight: bold;
}

.categoria {
  color: black;
  font-weight: bold;
}

.categoria-detalle {
  background: black;
  color: var(--color-texto-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
